ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li a {
    float: right;
    display: block;
    text-align: center;
    padding: 14px 14px;
}
li img {
    border-radius: 50px;
    float: right;
    width: 32px;
    height: 32px;
    display: block;
}
main {
    padding-top: 100px;
    text-align: center;
    padding-bottom: 100px;
}
input#search-box {
    border-radius: 50px;
    padding: 5px;
    margin-top: 50px;
    margin-bottom: 25px;
    width: 400px;
}
footer {
    position: relative;
    bottom: 0px;
    background-color: lightgray;
    align-content: bottom;
}

.right {
    text-align: right;
}
